<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
		<meta name="apple-mobile-web-app-capable" content="no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel='stylesheet' href='/static/font-awesome-4.1.0/css/font-awesome.min.css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="/static/jquery-sortable.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Cabin+Condensed:400,700|Roboto:400,700' rel='stylesheet' type='text/css'>
		<link href='/static/style.css' rel='stylesheet' type='text/css'>
		<title>RepoRanker</title>
	</head>
	<body>
		<div id="wrapper">
			<h1><i class="fa fa-github-alt"></i> RepoRanker</h1>
			<div class="subhead">
				by <a href="https://benwasser.com/">Ben Wasser</a>
			</div>

			<div class="instructions">
				Drag and drop (sorry mobile users!) your repos into the order you'd like them. When you're done, click <a href="/">here</a> to go through and star more repos from other users.
			</div>
			<div class="repo-list">
				<div class="repo-list-title">Your repository rankings</div>
				<ul class="sortable">
					<% for (var i = 0; i < your_repos.length; i++) {%>
						<li class="repo-container" data-repo-id="<%= your_repos[i].id %>" data-repo-name="<%= your_repos[i].name %>">
							<div class="repo-rank" id="repo-rank-<%= your_repos[i].id %>"><%= i + 1 %>.</div>
							<div class="repo-center-content">
								<div class="repo-title"><%= your_repos[i].name %></div>
								<div class="repo-description"><%= your_repos[i].description %></div>
							</div>
							<div class="repo-stars"><%= your_repos[i].stargazers_count %> <i class="fa fa-star"></i></div>
						</li>
					<% } %>
				</ul>
			</div>
			<div class="note">
				Note: Only the top 5 ranked repos will be shown to other users.
			</div>
			<div class="centered">
				<a href="/">
					<div class="big-green-button">
						Browse and star more repos
					</div>
				</a>
			</div>
		</div>

	</body>

	<script type="text/javascript">
		$('.sortable').sortable({
			onDrop: function($item, container, _super, event) {
				$item.removeClass('dragged').removeAttr('style');
				$('body').removeClass('dragging');
				var temp_objects = $('.sortable').sortable('serialize').get()[0];
				
				for (var i = 0; i < temp_objects.length; i++) {
					console.log((i + 1) + ': ' + temp_objects[i].repoName);
					temp_objects[i].rank = i + 1;
					$('#repo-rank-' + temp_objects[i].repoId).html((i + 1) + '.');
				}
				$.ajax({type: 'POST', url: '/set-ranking',
					data: JSON.stringify(temp_objects),
					contentType: 'application/json',
					success: function(data) { },
				});
			},
		});
	</script>
</html>